# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Show atom-memolist': 'atom-memolist:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-memolist'
      'submenu': [
        { 'label': 'Show', 'command': 'atom-memolist:toggle' }
      ]
    ]
  }
]
